<button
  class="icon-btn nav-toggle"
  x-data
  :aria-expanded="$store.nav.open"
  @click="$store.nav.toggle()"
  lang="{% uiLang %}"
>
  <span class="nav-toggle__menu" x-show="!$store.nav.open">{{ 'menu' | icon | safe }}</span>
  <span class="nav-toggle__close" x-show="$store.nav.open">{{ 'x' | icon | safe }}</span>
  <span class="visually-hidden">{{ 'nav_toggle.label' | t }}</span>
</button>
